# Exclude volume directories to prevent them from being copied into images
postgres/
webrtc/

# Exclude common development files
.git
.github
.gitignore
.turbo
# .env
# .env.*
*.log
node_modules/
dist/
.next/
