.key {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5%;
    width: 100%;
    /* aspect-ratio: 1; */
    border-radius: var(--radius);
    border: rgba(0, 0, 0, 0.1) 0.2rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover {
    background-color: rgba(0, 0, 0, 0.2);
    scale: 1.1;
    cursor: pointer;
}

.key[data-active="true"] {
    background-color: rgba(0, 155, 0, 0.2);
    scale: 1.1;
    transition: 0.1s;
}